*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://images.unsplash.com/photo-1499002238440-d264edd596ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: sans-serif;
    text-transform: uppercase;
}
.container{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;   
    color: white;
    display: flex;
    align-items: flex-end;

}
.wrapper{
    display: flex;
    align-items: flex-end;
    justify-content: center;
  
}

.clock_part{
    margin-right: 15px;   
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
h2{
    font-size: 20px;
    letter-spacing: 4px;
    margin-block: 20px;
}
.violet{
    width: 100px;
    height: 80px;
    background: #7E62C0;
    opacity: 0.8;
    font-size: 50px;
}
.blue{
    background-color: darkblue;
    opacity: 0.8;
    height: 30px;
    width: 100px;
    font-size: 10px;
    letter-spacing: 2px;
}

.green{
    width: 60px;
    height: 30px;
    background: green;
}
.violet, .blue, .green{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
}
